In [1]:
import json
import pandas as pd

In [2]:


file_name = "data/2021.json"

with open(file_name, "r") as f:
    data = json.loads(f.read())
events = [e["Event"] for e in data["venues"] if len(e["Event"]) > 0]

In [26]:


file_name = "data/2021.json"

with open(file_name, "r") as f:
    data = json.loads(f.read())
venues = [e["Venue"] for e in data["venues"] if len(e["Event"]) > 0]

In [33]:
restaurant_lookup = {v["id"]: v["title"] for v in venues}

In [40]:
burgers = []
for event in events:
    for e in event:
        if "name_of_burger" in e.keys():
            d = {}
            d["Burger Name"] = e["name_of_burger"]
            d["Burger Description"] = e["burger_description"]
            d["Restaurant"] = restaurant_lookup[e["venue_id"]]
            d["Price"] = e["burger_price"]
            d["Year"] = 2021
            for p in ["Beef", "Chicken", "Duck", "Lamb", "Pork", "Seafood", "Venison"]:
                d[p] = "Yes" if p in e["what_is_the_main_protein_of_your_burger"] else ""
            d["Vegetarian"] = "Yes" if "Veggie" in e["what_is_the_main_protein_of_your_burger"] or "Alternative meat" in e["what_is_the_main_protein_of_your_burger"] else ""
            d["Sweet"] = "Yes" if "Sweet/Dessert" in e["what_is_the_main_protein_of_your_burger"] else ""
            burgers.append(d)

In [41]:
new_df = pd.DataFrame(burgers)

In [42]:
new_df.head()

,Burger Name,Burger Description,Restaurant,Price,Year,Beef,Chicken,Duck,Lamb,Pork,Seafood,Venison,Vegetarian,Sweet
0,The Big Ring,"Double beef patty with double American cheese,...",1154 Pastaria,23,2021,Yes,,,,,,,,
1,Baa Baa Black Sheep,"Lamb shoulder with cauliflower crisp, buttercr...",1815 Café & Bar,25,2021,,,,Yes,,,,,
2,The Bull,Slow-cooked pulled beef brisket with housemade...,7 Bar and Eatery,22,2021,Yes,,,,,,,,
3,The Spice of Amador,Prime beef patty with housemade jalapeño relis...,Amador,18,2021,Yes,,,,,,,,
4,Duck a l'Orange,Slow-roast duck with spiced blood orange compo...,Apachè,28,2021,,,Yes,,,,,,

In [43]:
df = pd.read_csv("data/burgers.csv").query("Year != 2021")

In [44]:
df.head()

,Burger Name,Burger Description,Restaurant,Price,Year,Beef,Chicken,Duck,Lamb,Pork,Seafood,Venison,Vegetarian,Sweet,Not Your Usual,Finalist,Winner
256,Bun's Got Seoul,"Pulled pork with kimchi, chargrilled pineapple...",1815 Café & Bar,$22.00,2018,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Let's Get Lucky,"Beef patty with red curry sauce, papaya salad,...",Annam Restaurant,$19.00,2018,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Kung Fu Chicken,"Free range chicken, five spice, orange caramel...",Apachè,$20.00,2018,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Kāpiti Fish Fillet,Panko crumbed smoked tuna in a soft milk bun w...,Artisan Dining House,$25.00,2018,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN
260,Aston Garden Burger,"Pulled lamb patty with Parkvale mushroom cake,...",Aston Norwood,$19.00,2018,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
combined = pd.concat([new_df, df])

In [47]:
combined["Year"].value_counts().sort_index()

2014     51
2015     81
2016    120
2017    123
2018    180
2019    233
2020    242
2021    256
Name: Year, dtype: int64

In [48]:
combined.to_csv("data/burgers.csv", index=False)